*{
  font: monospace
  /*font: sans-serif ||| version 1.4.3*/;
  font-family: 'Courier New', Courier, monospace;
  /*delete in 1.4.3*/
}

h1{
  color: rgb(51, 54, 255);
}

h3, p b{
  color: rgb(226, 43, 43);
}

a, button{
  color: rgb(255, 64, 0);
}

.AdvayMukesh {
  color: rgb(255, 0, 0);
}

.HowardYao{
  color: rgb(0, 38, 255);
}

.super{
  size: 10rem;
}

h4 {
  color: rgb(234, 0, 255)
}

h1, h2, h3, h4, h5, h6, h7, a, p, code {
  margin-left: 8px
}

code {
  color: green
}

