*{
  font: monospace;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  color: rgb(51, 54, 255);
}

h3, p b{
  color: rgb(226, 43, 43);
}

a, button{
  color: rgb(255, 64, 0);
}

.AdvayMukesh {
  color: orange;
}

.HowardYao{
  color: rgb(0, 255, 0);
}

.super{
  size: 10rem;
}